*.py[co]
*.pyc
*.env

*.swo
*.swl

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

*.mo

import_files

*.~*

*.swn
*.swm
*.swp

*.pyc
*.swk
.env

.ropeproject

.terraform.lock.hcl
.terraform
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
